@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.card-color {
  background-color: wheat;
  font-family: 'Quicksand', sans-serif;
}

.font{
  font-family: 'Quicksand', sans-serif;
}

.fon {
    font-family: 'Quicksand', sans-serif;
}