@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.k {
  font-family: 'Quicksand', sans-serif;
}

.vertical-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
